{%- macro keep_begin(id, sig) -%}// fastcdk:keep-start id={{ id }} sig={{ sig }}{%- endmacro -%}
{%- macro keep_end() -%}// fastcdk:keep-end{%- endmacro -%}

{% set VERSION_SIGNATURE = 'v0.0.1' %}

{% if render_class_def %}
// External imports
import * as cdk from "aws-cdk-lib";

// Config import
import { EnvConfig } from "@fastcdk-root/config/configSchema";
import { DeploymentEnvEnum } from "@fastcdk-root/misc/deploymentEnvEnum";

// Root imports
import { {{main_hosted_zone.class_name}} } from "@fastcdk-lib/{{main_hosted_zone.import_path}}";
import { {{git_oidc_from_resource.class_name}} } from "@fastcdk-lib/{{git_oidc_from_resource.import_path}}";

// Local imports
import { {{s3_bucket.class_name}} } from "@fastcdk-lib/{{s3_bucket.import_path}}";
import { {{cloudfront.class_name}} } from "@fastcdk-lib/{{cloudfront.import_path}}";
import { {{oidc_roles.class_name}} } from "@fastcdk-lib/{{oidc_roles.import_path}}";


{{ keep_begin(this.class_name ~ ".OtherImports", VERSION_SIGNATURE) }}
{{ keep_end() }}


export class {{this.class_name}} {
  public readonly {{s3_bucket.var_name}}: {{s3_bucket.class_name}};
  public readonly {{cloudfront.var_name}}: {{cloudfront.class_name}};
  public readonly {{oidc_roles.var_name}}: {{oidc_roles.class_name}};

  {{ keep_begin(this.class_name ~ ".OtherConstructsInit", VERSION_SIGNATURE) }}
  {{ keep_end() }}

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,
    {{main_hosted_zone.var_name}}: {{main_hosted_zone.class_name}},
    {{git_oidc_from_resource.var_name}}: {{git_oidc_from_resource.class_name}},

    {{ keep_begin(this.class_name ~ ".OtherConstructorVars", VERSION_SIGNATURE) }}
    {{ keep_end() }}
  ) {
    // App frontend S3 bucket
    this.{{s3_bucket.var_name}} = new {{s3_bucket.class_name}}(mainStack, envConfig);


    // CloudFront holder
    this.{{cloudfront.var_name}} = new {{cloudfront.class_name}}(
      mainStack,
      envConfig,
      {{main_hosted_zone.var_name}},
      this.{{s3_bucket.var_name}},
    );

    // GitHub Actions OIDC role
    this.{{oidc_roles.var_name}} = new {{oidc_roles.class_name}}(
      mainStack,
      envConfig,
      {{git_oidc_from_resource.var_name}},
      this.{{s3_bucket.var_name}},
      this.{{cloudfront.var_name}},
    );


    {{ keep_begin(this.class_name ~ ".OtherConstructs", VERSION_SIGNATURE) }}
    {{ keep_end() }}
  }
}
{%- else -%} 
new {{this.class_name}}(
  this, 
  envConfig,

  this.{{ main_hosted_zone.var_name }},
  this.{{ git_oidc_from_resource.var_name }},

  {{ keep_begin(this.class_name ~ ".OtherExternalConstructorVars", VERSION_SIGNATURE) }}
  {{ keep_end() }}
);
{%- endif -%}