{%- macro keep_begin(id, sig) -%}// <fastcdk:keep begin id={{ id }} sig={{ sig }}>{%- endmacro -%}
{%- macro keep_end() -%}// </fastcdk:keep>{%- endmacro -%}

{% set VERSION_SIGNATURE = 'v0.0.1' %}

// External imports
import * as cdk from "aws-cdk-lib";
import * as iam from "aws-cdk-lib/aws-iam";
import * as codedeploy from "aws-cdk-lib/aws-codedeploy";

// Config imports
import { EnvConfig } from "@fastcdk-root/config/configSchema";

// Root imports
import { {{git_oidc_from_resource.class_name}} } from "@fastcdk-lib/{{git_oidc_from_resource.import_path}}";

// Local imports
import { {{s3_bucket.class_name}} } from "@fastcdk-lib/{{s3_bucket.import_path}}";
import { {{cloudfront.class_name}} } from "@fastcdk-lib/{{cloudfront.import_path}}";


{{ keep_begin(this.class_name ~ ".OtherImports", VERSION_SIGNATURE) }}
/* user-code */
{{ keep_end() }}


export class {{oidc_roles.class_name}} {
  public readonly codeDeployApp: codedeploy.ServerApplication;
  public readonly deploymentGroup: codedeploy.ServerDeploymentGroup;
  public readonly gitPlatformActionsRole: iam.Role;

  {{ keep_begin(this.class_name ~ ".OtherConstructsInit", VERSION_SIGNATURE) }}
  /* user-code */
  {{ keep_end() }}

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,

    rootGitOidc: {{git_oidc_from_resource.class_name}},
    s3: {{s3_bucket.class_name}},
    scfCloudFront: {{cloudfront.class_name}},

    {{ keep_begin(this.class_name ~ ".OtherConstructorVars", VERSION_SIGNATURE) }}
    /* user-code */
    {{ keep_end() }}
  ) {
    this.gitPlatformActionsRole = new iam.Role(mainStack, "{{oidc_roles.id_prefix}}GitPlatformActionsDeployRole", {
      roleName: "{{oidc_roles.name_prefix}}.github-actions-deploy-role",
      assumedBy: new iam.FederatedPrincipal(
        rootGitOidc.oidcProvider.openIdConnectProviderArn,
        {
          "StringEquals": {
            "token.actions.githubusercontent.com:aud": "sts.amazonaws.com",
            "token.actions.githubusercontent.com:sub": `repo:${envConfig.{{this.git_owner}}}/${envConfig.{{this.git_repo_name}}}:ref:refs/heads/${envConfig.{{this.git_repo_pull_branch_name}}}`,
          },
        },
        "sts:AssumeRoleWithWebIdentity"
      ),

      maxSessionDuration: cdk.Duration.hours(1),
    });


    this.gitPlatformActionsRole.addToPolicy(new iam.PolicyStatement({
      actions: [
        "cloudfront:CreateInvalidation",
      ],
      resources: [`arn:aws:cloudfront::${mainStack.account}:distribution/${scfCloudFront.cfDist.distributionId}`],
    }));
    this.gitPlatformActionsRole.addToPolicy(new iam.PolicyStatement({
      actions: [
        "s3:DeleteObject",
        "s3:GetObject",
        "s3:PutObject"
      ],
      resources: [`arn:aws:s3:::${s3.frontendBucket.bucketName}/*`],
    }));
    this.gitPlatformActionsRole.addToPolicy(new iam.PolicyStatement({
      actions: ["s3:ListBucket"],
      resources: [`arn:aws:s3:::${s3.frontendBucket.bucketName}`],
    }));

    {{ keep_begin(this.class_name ~ ".ExtraPolicy", VERSION_SIGNATURE) }}
    /* user-code */
    {{ keep_end() }}


    // Outputs - generated after deployment
    new cdk.CfnOutput(mainStack, "{{oidc_roles.id_prefix}}OutGitPlatformActionsRoleArn", {
      description: "FA ARN of the GitHub OIDC IAM Role",
      value: this.gitPlatformActionsRole.roleArn
    });

    new cdk.CfnOutput(mainStack, "{{oidc_roles.id_prefix}}OutS3BucketName", {
      description: "FA S3 Bucket Name",
      value: s3.frontendBucket.bucketName
    });

    new cdk.CfnOutput(mainStack, "{{oidc_roles.id_prefix}}OutCfDistributionId", {
      description: "FA CloudFront Distribution ID",
      value: scfCloudFront.cfDist.distributionId
    });

    {{ keep_begin(this.class_name ~ ".ExtraOutput", VERSION_SIGNATURE) }}
    /* user-code */
    {{ keep_end() }}
  }
}