{%- macro keep_begin(id, sig) -%}// fastcdk:keep-start id={{ id }} sig={{ sig }}>{%- endmacro -%}
{%- macro keep_end() -%}// fastcdk:keep-end{%- endmacro -%}

{% set VERSION_SIGNATURE = 'v0.0.1' %}

// External imports
import * as cdk from 'aws-cdk-lib';
import { RemovalPolicy } from 'aws-cdk-lib';
import * as s3 from 'aws-cdk-lib/aws-s3';
import * as iam from 'aws-cdk-lib/aws-iam';

// Config import
import { EnvConfig } from "@fastcdk-root/config/configSchema";


{{ keep_begin(this.class_name ~ ".OtherImports", VERSION_SIGNATURE) }}
{{ keep_end() }}


export class {{s3_bucket.class_name}} {
  public readonly frontendBucket: s3.Bucket;

  {{ keep_begin(this.class_name ~ ".OtherConstructsInit", VERSION_SIGNATURE) }}
  {{ keep_end() }}

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,

    {{ keep_begin(this.class_name ~ ".OtherConstructorVars", VERSION_SIGNATURE) }}
    {{ keep_end() }}
  ) {
    this.frontendBucket = new s3.Bucket(mainStack, "{{s3_bucket.id_prefix}}S3Bucket", {
      bucketName: envConfig.{{this.s3_bucket_name}},
      removalPolicy: RemovalPolicy.DESTROY,
      autoDeleteObjects: true,
      publicReadAccess: true,
      blockPublicAccess: new s3.BlockPublicAccess({
        blockPublicPolicy: false,
        blockPublicAcls: false,
        ignorePublicAcls: false,
        restrictPublicBuckets: false
      }),
      websiteIndexDocument: "index.html",
      websiteErrorDocument: "index.html",

      {{ keep_begin(this.class_name ~ ".ExtraS3BucketProps", VERSION_SIGNATURE) }}
      {{ keep_end() }}
    });

    const policyStatement = new iam.PolicyStatement({
      effect: iam.Effect.ALLOW,
      actions: ['s3:GetObject'],
      resources: [`${this.frontendBucket.bucketArn}/*`],
      principals: [new iam.AnyPrincipal()],
    });
    policyStatement.addCondition(
      "StringEquals",
      { "aws:UserAgent": envConfig.{{this.cloudfront_connection_secret}} }
    );
    this.frontendBucket.addToResourcePolicy(policyStatement);
    {{ keep_begin(this.class_name ~ ".ExtraPolicy", VERSION_SIGNATURE) }}
    {{ keep_end() }}


    {{ keep_begin(this.class_name ~ ".OtherConstructs", VERSION_SIGNATURE) }}
    {{ keep_end() }}


    // Tag resources
    cdk.Tags.of(this.frontendBucket).add("Name", "{{s3_bucket.name_prefix}}.s3-bucket");

    {{ keep_begin(this.class_name ~ ".ExtraTags", VERSION_SIGNATURE) }}
    {{ keep_end() }}
  }
}