// External imports
import * as cdk from "aws-cdk-lib";

// Config import
import { EnvConfig } from "../../config/configSchema";
import { PrefixModel } from "../../mics/prefixModel";
import { DeploymentEnvEnum } from "../../mics/deploymentEnvEnum";

// Root imports
import { HostedZoneRoot } from "../root/hostedZone.root";
import { GitOidcRoot } from "../root/gitOidc.root";

// Local imports
import { SebAlb } from "../simple-ecs-backend/alb.seb";
import { ScfS3 } from "./scfS3.scf";
import { ScfCloudFront } from "./cloudfront.scf";
import { ScfGitOidcRole } from "./gitOidcRole.scf";


export class ScfMain {
  public readonly scfS3: ScfS3;
  public readonly scfCloudFront: ScfCloudFront;
  public readonly scfGitOidcRole: ScfGitOidcRole;

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,
    upperPrefix: PrefixModel,
    hostedZoneRoot: HostedZoneRoot,
    gitOidcRoot: GitOidcRoot,
    sebAlb: SebAlb,
  ) {

    const namePrefix = `${upperPrefix.namePrefix}.${envConfig.BuildParams.SimpleCloudFrontFrontend.SubProjectNamePrefix}`;
    const idPrefix = envConfig.BuildParams.SimpleCloudFrontFrontend.SubProjectIdPrefix;
    const prefix = new PrefixModel(namePrefix, idPrefix);

    // App frontend S3 bucket
    this.scfS3 = new ScfS3(mainStack, envConfig, prefix);

    // CloudFront holder
    this.scfCloudFront = new ScfCloudFront(
      mainStack,
      envConfig,
      prefix,
      hostedZoneRoot,
      sebAlb,
      this.scfS3
    );


    // GitHub Actions OIDC role
    this.scfGitOidcRole = new ScfGitOidcRole(
      mainStack,
      envConfig,
      prefix,
      gitOidcRoot,
      this.scfS3,
      this.scfCloudFront
    );
  }
}