// External imports
import * as cdk from "aws-cdk-lib";

// Config import
import { EnvConfig } from "../../config/configSchema";
import { DeploymentEnvEnum } from "../../mics/deploymentEnvEnum";

// Root imports
import { {{data.main_hosted_zone.class}} } from "../{{data.main_hosted_zone.place}}";
import { {{data.git_oidc_from_resource.class}} } from "../{{data.git_oidc_from_resource.place}}";

// Local imports
import { {{data.s3_bucket_for_cloudfront.class}} } from "../{{data.s3_bucket_for_cloudfront.place}}";
import { {{data.s3_based_cloudfront.class}} } from "../{{data.s3_based_cloudfront.place}}";
import { {{data.s3_based_cloudfront_git_oidc_role.class}} } from "../{{data.s3_based_cloudfront_git_oidc_role.place}}";


export class {{data.idPrefix}}{{data.classPrefix}}{{data.className}} {
  public readonly scfS3: {{data.s3_bucket_for_cloudfront.class}};
  public readonly scfCloudFront: {{data.s3_based_cloudfront.class}};
  public readonly scfGitOidcRole: {{data.s3_based_cloudfront_git_oidc_role.class}};

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,
    hostedZoneRoot: HostedZoneRoot,
    gitOidcRoot: GitOidcRoot,
  ) {
    // App frontend S3 bucket
    this.scfS3 = new {{data.s3_bucket_for_cloudfront.class}}(mainStack, envConfig);


    // CloudFront holder
    this.scfCloudFront = new {{data.s3_based_cloudfront.class}}(
      mainStack,
      envConfig,
      hostedZoneRoot,
      this.scfS3
    );


    // GitHub Actions OIDC role
    this.scfGitOidcRole = new {{data.s3_based_cloudfront_git_oidc_role.class}}(
      mainStack,
      envConfig,
      gitOidcRoot,
      this.scfS3,
      this.scfCloudFront
    );
  }
}