// External imports
import * as cdk from "aws-cdk-lib";

// Config import
import { EnvConfig } from "@base /config/configSchema";
import { DeploymentEnvEnum } from "@base/mics/deploymentEnvEnum";

// Root construct imports
//
{% for rc in root_constructs -%}
import { {{rc.class}} } from "@base/{{rc.path}}";
{% endfor %}

// This substack constructs imports
//
{% for sc in substack_constructs -%}
import { {{sc.class}} } from "@base/{{sc.path}}";
{% endfor %}


export class {{class_name}} {
  // Holders of substack constructs
  //
  {% for sc in substack_constructs -%}
  public readonly {{ sc.instance_name }}: {{sc.class}};
  {% endfor %}

  // Constructor gets all Root constructs and other Substacks
  //
  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,

    {% for rc in root_constructs -%}
    {{ sc.instance_name }}: {{rc.class}},
    {% endfor %}
  ) {

    // Init of all this substack constructs
    //
    // ....
  }
}