{%- macro keep_begin(id, sig) -%}// fastcdk:keep-start id={{ id }} sig={{ sig }}{%- endmacro -%}
{%- macro keep_end() -%}// fastcdk:keep-end{%- endmacro -%}

{% set VERSION_SIGNATURE = 'v0.0.1' %}

{% if render_class_def %}
// External imports
import * as cdk from "aws-cdk-lib";
import * as logs from "aws-cdk-lib/aws-logs";

// Config import
import { EnvConfig } from "@fastcdk-root/config/configSchema";


export class {{this.class_name}} {
  public readonly cloudWatchLogGroup: logs.LogGroup;

  {{ keep_begin(this.class_name ~ ".OtherConstructsInit", VERSION_SIGNATURE) }}
  {{ keep_end() }}

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,
  ) {
    this.cloudWatchLogGroup = new logs.LogGroup(mainStack, "{{this.id_prefix}}CwLogGroup", {
      logGroupName: "{{this.name_prefix}}.log-group",
      retention: logs.RetentionDays.THREE_MONTHS,

      {{ keep_begin(this.class_name ~ ".CWProps", VERSION_SIGNATURE) }}
      {{ keep_end() }}
    });

    {{ keep_begin(this.class_name ~ ".OtherConstructs", VERSION_SIGNATURE) }}
    {{ keep_end() }}

    // Tag resources
    cdk.Tags.of(this.cloudWatchLogGroup).add("Name", "{{this.name_prefix}}.log-group");

    {{ keep_begin(this.class_name ~ ".ExtraTags", VERSION_SIGNATURE) }}
    {{ keep_end() }}
  }
}
{%- else -%} 
new {{this.class_name}}(this, envConfig);
{%- endif -%}