{% if render_class_def %}
// External imports
import * as cdk from "aws-cdk-lib";
import * as logs from "aws-cdk-lib/aws-logs";

// Config import
import { EnvConfig } from "@fastcdk-root/config/configSchema";


export class {{this.class_name}} {
  public readonly cloudWatchLogGroup: logs.LogGroup;

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,
  ) {
    this.cloudWatchLogGroup = new logs.LogGroup(mainStack, "{{this.id_prefix}}CwLogGroup", {
      logGroupName: "{{this.name_prefix}}.log-group",
      retention: logs.RetentionDays.THREE_MONTHS,
    });

    // Tag resources
    cdk.Tags.of(this.cloudWatchLogGroup).add("Name", "{{this.name_prefix}}.log-group");
  }
}
{%- else -%} 
new {{this.class_name}}(mainStack, envConfig);
{%- endif -%}