{% if render_class_def %}
// External imports
import * as cdk from "aws-cdk-lib";
import * as r53 from "aws-cdk-lib/aws-route53";

// Config imports
import { EnvConfig } from "@base/config/configSchema";


export class {{class_name}} {
  public readonly appHostedZone: r53.IHostedZone;

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,
  ) {
    this.appHostedZone = r53.HostedZone.fromLookup(
      mainStack,
      "{{id_prefix}}HostedZone",
      { domainName: envConfig.{{base_domain_name}} }
    );

    // Tag resources
    cdk.Tags.of(this.appHostedZone).add("Name", "{{name_prefix}}.hosting-zone");
  }
}
{%- else -%} new {{class_name}}(mainStack, envConfig);
{% endif %}