{% if render_class_def %}
// External imports
import * as cdk from "aws-cdk-lib";
import * as secretsmanager from "aws-cdk-lib/aws-secretsmanager";

// Config import
import { EnvConfig } from "@fastcdk-root/config/configSchema";
import { CustomSecret } from "@fastcdk-root/misc/customSecret";


export class {{this.class_name}} extends CustomSecret {
  constructor(mainStack: cdk.Stack, envConfig: EnvConfig) {
    super();

    this.secret = secretsmanager.Secret.fromSecretCompleteArn(
      mainStack,
       "{{this.id_prefix}}Secret",
      envConfig.{{this.secret_arn}}
    );

    // Tag resources
    cdk.Tags.of(this.secret).add("Name", "{{this.name_prefix}}.secret");
  }
}
{%- else -%}
new {{this.class_name}}(this, envConfig);
{%- endif -%}