// External imports
import * as cdk from "aws-cdk-lib";
import * as ecr from "aws-cdk-lib/aws-ecr";

// Config imports
import { EnvConfig } from "../../config/configSchema";


export class {{data.idPrefix}}{{data.classPrefix}}{{data.className}} {
  public readonly ecrRepo: ecr.IRepository;
  public readonly containerName: string

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,
  ) {
    this.ecrRepo = ecr.Repository.fromRepositoryArn(
      mainStack,
      "{{data.idPrefix}}EcrRepo",
      envConfig.{{data.ecrRepoArnEnvVar}}
    );
    this.containerName = "{{data.namePrefixDash}}";

    // Tag resources
    cdk.Tags.of(this.ecrRepo).add("Name", "{{data.namePrefix}}.ecr-repo");
  }
}