{% if is_class_def %}
// External imports
import * as cdk from "aws-cdk-lib";
import * as ecr from "aws-cdk-lib/aws-ecr";

// Config imports
import { EnvConfig } from "@base/config/configSchema";


export class {{id_prefix}}{{class_prefix}}{{class_name}} {
  public readonly ecrRepo: ecr.IRepository;
  public readonly containerName: string

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,
  ) {
    this.ecrRepo = ecr.Repository.fromRepositoryArn(
      mainStack,
      "{{id_prefix}}EcrRepo",
      envConfig.{{ecr_repo_arn}}
    );
    this.containerName = "{{name_prefix}}-container";

    // Tag resources
    cdk.Tags.of(this.ecrRepo).add("Name", "{{name_prefix}}.ecr-repo");
  }
}
{%- elif is_constr_def -%} new {{id_prefix}}{{class_prefix}}{{class_name}}(mainStack, envConfig);
{% endif %}