{% if render_class_def %}
// External imports
import * as cdk from "aws-cdk-lib";
import * as ecr from "aws-cdk-lib/aws-ecr";

// Config imports
import { EnvConfig } from "@fastcdk-root/config/configSchema";


export class {{this.class_name}} {
  public readonly ecrRepo: ecr.IRepository;
  public readonly containerName: string

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,
  ) {
    this.ecrRepo = ecr.Repository.fromRepositoryArn(
      mainStack,
      "{{this.id_prefix}}EcrRepo",
      envConfig.{{this.ecr_repo_arn}}
    );
    this.containerName = "{{this.name_prefix}}-container";

    // Tag resources
    cdk.Tags.of(this.ecrRepo).add("Name", "{{this.name_prefix}}.ecr-repo");
  }
}
{%- else -%}
new {{this.class_name}}(this, envConfig);
{%- endif -%}