// External imports
import * as cdk from "aws-cdk-lib";

// Config imports
import { EnvConfig } from "@base/config/configSchema";

// Construct imports
{% for ci in constructs -%}
import { {{ci.class}} } from "@base{{ci.path}}";
{% endfor %}


export class StackRoot extends cdk.Stack {
  // Holder of all root constructs
  //
  {% for c in constructs -%}
    public readonly {{ c.instance_name }}: {{c.class}};
  {% endfor %}

  constructor(
    scope: cdk.App,
    id: string,
    envConfig: EnvConfig,
  ) {
    super(
      scope,
      id,
      {
        env: {
          account: envConfig.AwsAccountId,
          region: envConfig.AwsRegion,
        }
      }
    );

    // Root Constructs
    //
    // ....

    // substacks
    //
    // ....

  }
}