// External imports
import * as cdk from "aws-cdk-lib";

// Config imports
import { EnvConfig } from "@base/config/configSchema";

// Root constructs imports
//
{% for rc in root_constructs -%}
import { {{rc.class}} } from "@base/{{rc.path}}";
{% endfor %}


// Substacks imports 
//
{% for subs in substacks -%}
import { {{subs.class}} } from "@base/{{subs.path}}";
{% endfor %}


export class StackRoot extends cdk.Stack {
  // Holder of all root constructs
  //
  {% for rc in root_constructs -%}
  public readonly {{ rc.instance_name }}: {{rc.class}};
  {% endfor %}

  constructor(
    scope: cdk.App,
    id: string,
    envConfig: EnvConfig,
  ) {
    super(
      scope,
      id,
      {
        env: {
          account: envConfig.AwsAccountId,
          region: envConfig.AwsRegion,
        }
      }
    );

    // Root Constructs
    //
    // ....

    // substacks
    //
    // ....

  }
}