// External imports
import * as cdk from "aws-cdk-lib";
import * as iam from "aws-cdk-lib/aws-iam";
import * as codedeploy from "aws-cdk-lib/aws-codedeploy";

// Config imports
import { EnvConfig } from "../../config/configSchema";

// Root imports
import { {{data.git_oidc_from_resource.class}} } from "../{{data.git_oidc_from_resource.place}}";

// Local imports
import { {{data.s3_bucket_for_cloudfront.class}} } from "../{{data.s3_bucket_for_cloudfront.place}}";
import { {{data.s3_based_cloudfront.class}} } from "../{{data.s3_based_cloudfront.place}}";


export class {{data.idPrefix}}{{data.classPrefix}}{{data.className}} {
  public readonly codeDeployApp: codedeploy.ServerApplication;
  public readonly deploymentGroup: codedeploy.ServerDeploymentGroup;
  public readonly gitPlatformActionsRole: iam.Role;

  constructor(
    mainStack: cdk.Stack,
    envConfig: EnvConfig,

    rootGitOidc: {{data.git_oidc_from_resource.class}},
    s3: {{data.s3_bucket_for_cloudfront.class}},
    scfCloudFront: {data.s3_bucket_for_cloudfront.class}},
  ) {
    this.gitPlatformActionsRole = new iam.Role(mainStack, "{{data.idPrefix}}GitPlatformActionsDeployRole", {
      roleName: "{{data.namePrefix}}.github-actions-deploy-role",
      assumedBy: new iam.FederatedPrincipal(
        rootGitOidc.oidcProvider.openIdConnectProviderArn,
        {
          "StringEquals": {
            "token.actions.githubusercontent.com:aud": "sts.amazonaws.com",
            "token.actions.githubusercontent.com:sub": `repo:${envConfig.{{data.gitOwnerEnvVar}}}/${envConfig.{{data.gitRepoNameEnvVar}}}:ref:refs/heads/${envConfig.{{data.gitRepoPullBranchName}}}`,
          },
        },
        "sts:AssumeRoleWithWebIdentity"
      ),

      maxSessionDuration: cdk.Duration.hours(1),
    });


    this.gitPlatformActionsRole.addToPolicy(new iam.PolicyStatement({
      actions: [
        "cloudfront:CreateInvalidation",
      ],
      resources: [`arn:aws:cloudfront::${mainStack.account}:distribution/${scfCloudFront.cfDist.distributionId}`],
    }));
    this.gitPlatformActionsRole.addToPolicy(new iam.PolicyStatement({
      actions: [
        "s3:DeleteObject",
        "s3:GetObject",
        "s3:PutObject"
      ],
      resources: [`arn:aws:s3:::${s3.frontendBucket.bucketName}/*`],
    }));
    this.gitPlatformActionsRole.addToPolicy(new iam.PolicyStatement({
      actions: ["s3:ListBucket"],
      resources: [`arn:aws:s3:::${s3.frontendBucket.bucketName}`],
    }));


    // Outputs - generated after deployment
    new cdk.CfnOutput(mainStack, "{{data.idPrefix}}OutGitPlatformActionsRoleArn", {
      description: "FA ARN of the GitHub OIDC IAM Role",
      value: this.gitPlatformActionsRole.roleArn
    });

    new cdk.CfnOutput(mainStack, "{{data.idPrefix}}OutS3BucketName", {
      description: "FA S3 Bucket Name",
      value: s3.frontendBucket.bucketName
    });

    new cdk.CfnOutput(mainStack, "{{data.idPrefix}}OutCfDistributionId", {
      description: "FA CloudFront Distribution ID",
      value: scfCloudFront.cfDist.distributionId
    });
  }
}